<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />

  <title>Cobber</title>
  <style>
    body {
    /*text-rendering: optimizeLegibility !important;*/
    text-rendering: geometricPrecision !important;
    }
  </style>
</head>

<body>
<%= render 'partials/labels' %>
</body>
</html>
